echo "Loading user environment"
export PATH=$PATH:$HOME/.vorpal/bin
VORPAL_PATH="$(vorpal build mvaldes --path)"
bash "$VORPAL_PATH/bin/vorpal-activate"
bash "$VORPAL_PATH/bin/vorpal-activate-symlinks"
source "$VORPAL_PATH/bin/vorpal-activate-shell"
